<!DOCTYPE html>
<html>
<head>
  <title>Google bouffe - The map to know where to eat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" href="favicon.ico" />
</head>
<body>
  <header>
    <h1>Google Bouffe</h1>
    <p>
      La meilleure carte pour savoir où manger à midi <br/>
      Concoctée avec goût par les membres de <span>l’équipe La Poste</span> qui ont du goût
    </p>
  </header>
  <div id="root"></div>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT2woXaVUit32ya7B4vyWRyZXAoYhZX4s&libraries=geometry,visualization"></script>
  <script type="text/javascript" src="../assets/scripts/app.js"></script>
</body>
</html>