<!DOCTYPE html>
<html>
<head>
  <title>Google Bouffe - La meilleure carte pour savoir où manger à midi </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" href="favicon.ico" />
</head>
<body>
  <div id="root"></div>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT2woXaVUit32ya7B4vyWRyZXAoYhZX4s&libraries=geometry,visualization"></script>
  <script type="text/javascript" src="../assets/scripts/index.js"></script>
</body>
</html>