<!DOCTYPE html>
<html>
<head>
    <title>Le bon gourmet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="../assets/stylesheets/reset.css" />
</head>
<body>
  <div id="root"></div>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places,visualization">
</script>
  <script type="text/javascript" src="../assets/scripts/app.js"></script>
</body>
</html>