.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0px;
  align-items: center;
  padding: 15px;
  justify-content: space-around;
}

.footer a {
  color: #333333;
  font-size: 14px;
  font-family: 'open_sansregular', Arial, sans-serif;
}