.itinerary-container {
  overflow: auto;
  height: 325px;
  -webkit-overflow-scrolling: touch;
}

.itinerary {
  margin-top: 15px;
}

.itinerary li {
  height: 62px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px 5px 5px 0;

  font-size: 14px;
  font-family: 'open_sansregular', Arial, sans-serif;
}


.itinerary li b { 
  font-family: 'open_sanssemibold', Arial, sans-serif;
  color: #da032c;
}

.itinerary .details {
	font-size: 12px;
  font-family: 'open_sanssemibold', Arial, sans-serif;
  margin-top: 7px;
}

.itinerary-summary-container {
  border-top: 1px solid #da032c;
  padding: 15px 15px 0 0;
  font-size: 14px;
  font-family: 'open_sansregular', Arial, sans-serif;
  margin-top: auto;
}