.list {
  overflow-y: scroll;
  flex: 0;
}

.list.show {
  flex: 1000;
}

.list li {
  height: 42px;
  display: flex;
  align-items: stretch;
  margin-bottom: 5px;
}

.list button {
  flex: 1;

  background: transparent;
  border-radius: 0;
  border: none;
  text-align: left;

  font-family: 'open_sansregular', Arial, sans-serif;
  font-size: 14px;
}

.list button:hover {
  background-color: #e7e7e7;
}