.list {
  overflow-y: scroll;
  flex: 1;
}

.list li {
  height: 42px;
  display: flex;
  align-items: stretch;
  margin-bottom: 5px;
}

.list button, .list a {
  flex: 1;

  background: transparent;
  border-radius: 0;
  border: none;
  text-align: left;

  font-family: 'open_sansregular', Arial, sans-serif;
  font-size: 14px;

  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 10px;
  color: #333;
  text-decoration: none;
}

.list button:hover, .list a:hover {
  background-color: #e7e7e7;
}


.list button:focus, .list a:focus {
  border-left: 3px solid #da8998;
}
