.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0px;
  align-items: center;

}

.menu button {
  flex: .5;

  background: transparent;
  border-radius: 0;
  border: none;
  padding-bottom: 7px;

  font-family: 'open_sanssemibold', Arial, sans-serif;
  font-size: 16px;
  color: #333333;
}