.survey {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.survey h1 {
  font-family: 'open_sanssemibold', Arial, sans-serif;
  font-size: 30px;
  color: #333333;
}

.answers {
  display: flex;
  flex-direction: column;

  font-family: 'open_sansregular', Arial, sans-serif;
  font-size: 16px;
  padding-left: 10px;
  margin-left: 15px;
  border-left: 2px solid #da032c;
}

.answers article {
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
}

.answers article:last-child {
  margin-bottom: 0;
}

.voted {
  font-family: 'open_sanssemibold', Arial, sans-serif;
  font-size: 30px;
  color: #00b21f;
}


.survey-error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.survey-error h1 {
  font-family: 'open_sanssemibold', Arial, sans-serif;
  font-size: 30px;
  color: #da032c;
}